@model AspergillosisEPR.Models.SettingsViewModels.SettingsViewModel
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Drug Name</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var drug in Model.Drugs)
            {
                <tr>
                    <td>@drug.ID</td>
                    <td>@drug.Name</td>
                    <td>
                        <a href="@Url.Action("Edit", "Drugs", new { id= drug.ID })" class="btn btn-primary edit-diagnosis-drug edit-link">
                            <i class="fa fa-edit"></i> &nbsp; Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>