@model AspergillosisEPR.Models.SettingsViewModels.SettingsViewModel
<div class="table-responsive">
    @if (User.IsInRole("Create Role") || User.IsInRole("Admin Role"))
    {
        <div class="button">
            <a href="@Url.Action("New", "Drugs")" class="btn btn-success add-drug add-settings-item disable-default" data-tab="drugs" data-klass="Drug">
                <i class="fa fa-plus"></i> Add new Drug
            </a>
        </div>
    }
    <table class="table table-bordered table-hover table-stripped" id="drugs_datatable" style="width: 100%" data-url="/DataTableDrugs/Load">
        <thead>
            <tr>
                <th>ID</th>
                <th>Drug</th>
                @if (User.IsInRole("Update Role") || User.IsInRole("Admin Role"))
                {
                    <th>Action</th>
                }
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>