@model AspergillosisEPR.Models.SettingsViewModels.SettingsViewModel
<div class="table-responsive">
    @if (User.IsInRole("Create Role") || User.IsInRole("Admin Role"))
    {
        <div class="button">
            <a href="@Url.Action("New", "MedicalTrials")" class="btn btn-success add-drug add-settings-item disable-default" data-klass="MedicalTrial" data-tab="medical-trials">
                <i class="fa fa-plus"></i> Add new medical trial
            </a>
        </div>
    }
   
</div>