<label>Select available dropdown options</label>
@Html.DropDownList("Fields[" + (string)ViewBag.Index + "].SelectedOptionsIds", (MultiSelectList)ViewBag.SectionOptions, new { @multiple = "multiple", @data_index=(string) ViewBag.Index })