@model AspergillosisEPR.Models.CaseReportForms.ViewModels.CaseReportFormFieldViewModel;
<div class="row">
    <section class="col col-4 label-render">
        <label>@Model.Field.Label</label>
    </section>
    <section class="col col-12">
        <label class="select">
            <label class="select">
                @Html.DropDownList("CaseReportFormPatientResult[" + Model.Index + "].SelectedIds", Model.Field.Options.Select(o => o.DropdownItem()).ToList(), new { @multiple = "multiple" })
                @Html.Hidden("CaseReportFormPatientResult.CaseReportFormFieldId", Model.Field.ID)
                @Html.Hidden("CaseReportFormPatientResult[" + Model.Index + "].ValidationResult", "")
            </label>
        </label>
    </section>
</div>
