@model AspergillosisEPR.Models.CaseReportForms.ViewModels.CaseReportFormFieldViewModel;
<div class="row">
    <section class="col col-4 label-render">
        <label>@Model.Field.Label</label>
    </section>
    <section class="col col-2">
        <label class="input">
            <input name="CaseReportFormPatientResult[@Model.Index].NumericAnswer" placeholder="@Model.Field.Label" class="form-control">
            @Html.Hidden("CaseReportFormPatientResult[" + Model.Index  + "].CaseReportFormFieldId", Model.Field.ID)
        </label>
    </section>
</div>
