@model AspergillosisEPR.Models.CaseReportForms.CaseReportFormField;
<form class="smart-form">
    <div class="row">
        <section class="col col-4 label-render">
            <label>@Model.Label</label>
        </section>
        <section class="col col-5">
            <label class="select">
                <label class="select">
                    @Html.DropDownList("Fields[" + Model.ID + "]." + @Model.FieldName(), Model.Options.Select(o => o.DropdownItem()).ToList(), "Select " + Model.Label)
                    <i></i>
                </label>
            </label>
        </section>
    </div>
</form>