@model AspergillosisEPR.Models.CaseReportForms.ViewModels.CaseReportFormFieldViewModel;
<div class="row">
    <section class="col col-4 label-render">
        <label>@Model.Field.Label</label>
    </section>
    <section class="col col-5">
        <label class="select">
            <label class="select">
                @Html.DropDownList("CaseReportFormPatientResult["+ Model.Index + "].CaseReportFormOptionChoiceId", Model.Field.Options.Select(o => o.DropdownItem()).ToList(), "Select " + Model.Field.Label)
                <i></i>
                @Html.Hidden("CaseReportFormPatientResult["+ Model.Index + "].CaseReportFormFieldId", Model.Field.ID)
            </label>
        </label>
    </section>
</div>