@model AspergillosisEPR.Models.CaseReportForms.CaseReportFormField;
<div class="row">
    <section class="col col-4 label-render">
        <label>@Model.Label</label>
    </section>
    <section class="col col-5">
        <label class="select">
            <label class="select">
                @Html.DropDownList("CaseReportFormPatientResult.CaseReportFormOptionChoiceId" + @Model.FieldName(), Model.Options.Select(o => o.DropdownItem()).ToList(), "Select " + Model.Label)
                <i></i>
                @Html.Hidden("CaseReportFormPatientResult.CaseReportFormFieldId", Model.ID)
            </label>
        </label>
    </section>
</div>