@model int
<label for="AllergyIntoleranceItemId" class="select">
    @Html.DropDownList("Allergies[" + Model + "].AllergyIntoleranceItemId", (SelectList)ViewBag.ItemId[Model], "Select Food", new { @class = "selectize" })
    <i></i>
</label>