.vs/*
AspergillosisEPR/appsetings.json
AspergillosisEPR/bin/*
AspergillosisEPR/obj/*
AspergillosisEPR/publish/*
Aspergillosis/Logs/*
AspergillosisEPR/appsettings.json
AspergillosisEPR/wwwroot/Upload/*
AspergillosisEPR/wwwroot/Files/*
AspergillosisEPR/wwwroot/lib/datatables/*
RabbitProducers/obj/*
RabbitProducers/bin/*
RabbitConsumers/obj/*
RabbitConsumers/bin/*