.vs/*
AspergillosisEPR/appsetings.json
AspergillosisEPR/bin/*
AspergillosisEPR/obj/*
AspergillosisEPR/appsettings.json
AspergillosisEPR/wwwroot/Upload/*
AspergillosisEPR/wwwroot/Files/*
AspergillosisEPR/wwwroot/lib/datatables/*