@model List<SelectListItem>;
<div class="row">
    <label class="smart-form select">
        <select asp-items="@Model" id="patient-case-report-form">
            <option>Please select form</option>
        </select>
        <i></i>
    </label>     
</div>
