@using HtmlHelpers.BeginCollectionItemCore;
@model AspergillosisEPR.Models.Patients.PatientDiagnosis
@using (Html.BeginCollectionItem("Diagnoses"))
{
    <div class="diagnosis-row">
        <fieldset>
            <div class="row">
                <label class="select">
                    <label asp-for="DiagnosisCategoryId" class="select">
                        @Html.DropDownListFor(m => m.DiagnosisCategoryId, (SelectList)ViewBag.DiagnosisCategoryId, "Select Diagnosis Category")
                        <i></i>
                        <span asp-validation-for="DiagnosisCategoryId" class="text-danger"></span>
                    </label>

                </label>
            </div>
            <div class="row">
                <label class="select">
                    <label asp-for="DiagnosisTypeId" class="select">
                        @Html.DropDownListFor(m => m.DiagnosisTypeId, (SelectList)ViewBag.DiagnosisTypeId, "Select Diagnosis", new { @class = "select2-search", @style="width: 100% !important" })
                        <i></i>
                        <span asp-validation-for="DiagnosisCategoryId" class="text-danger"></span>
                    </label>
                </label>
            </div>
            <div class="row">
                <label class="textarea">
                    <i class="icon-append fa fa-comment"></i>
                    @Html.TextArea("Description", null, new { @class = "comment", @rows = 5, @placeholder = "Diagnosis Comment" })
                </label>
            </div>
        </fieldset>
        <div class="row">
            <a href="javascript:void(0)" class="btn btn-danger remove-new-diagnosis pull-right btn-lg" data-what="diagnosis" data-toggle="tooltip" data-title="Remove diagnosis" style="padding: 5px">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>
}