@model AspergillosisEPR.Models.PatientSTGQuestionnaire;
<div class="stg-row">
    <fieldset>
        <div class="row">
            <section class="col col-4">
                <label class="input" asp-for="DateTaken">
                    <input asp-for="DateTaken" name="STGQuestionnaires[@((string)ViewBag.Index)].DateTaken" placeholder="Date Taken" id="STGQuestionnaires_@((string)ViewBag.Index)__DateTaken"/>
                </label>
            </section>
            <section class="col col-2">
                <label class="input" asp-for="ActivityScore">
                    <input asp-for="ActivityScore" name="STGQuestionnaires[@((string)ViewBag.Index)].ActivityScore" placeholder="Activity" id="STGQuestionnaires_@((string)ViewBag.Index)__ActivityScore" />
                </label>
            </section>
            <section class="col col-2">
                <label class="input" asp-for="ImpactScore">
                    <input asp-for="ImpactScore" name="STGQuestionnaires[@((string)ViewBag.Index)].ImpactScore" placeholder="Impact" id="STGQuestionnaires_@((string)ViewBag.Index)__ImpactScore">
                </label>
            </section>
            <section class="col col-2">
                <label class="input" asp-for="SymptomScore">
                    <input asp-for="SymptomScore" name="STGQuestionnaires[@((string)ViewBag.Index)].SymptomScore" placeholder="Symptoms" id="STGQuestionnaires_@((string)ViewBag.Index)__SymptomScore">
                </label>
            </section>
            <section class="col col-2">
                <label class="input" asp-for="TotalScore">
                    <input asp-for="TotalScore" placeholder="Total" name="STGQuestionnaires[@((string)ViewBag.Index)].TotalScore" id="STGQuestionnaires_@((string)ViewBag.Index)__TotalScore">
                </label>
            </section>
        </div>
        <div class="row">
            <a href="javascript:void(0)" class="btn btn-danger remove-new-stg pull-right btn-lg" data-what="St Georges Questionnaire" data-toggle="tooltip" data-title="Remove St Georges Questionnaire" style="padding: 5px">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </fieldset>
</div>