@using HtmlHelpers.BeginCollectionItemCore;
@model AspergillosisEPR.Models.Patients.PatientSurgery
<div class="patient-surgery">
    <fieldset>
        <div class="row col-6 col-md-6 col-xs-6">
            <label class="select">
                <label asp-for="SurgeryId" class="select">
                    @Html.DropDownList("Surgeries[" + (string)ViewBag.Index + "].SurgeryId", (SelectList)ViewBag.SurgeryId, "Select Surgery", new { @class = "selectize" })
                    <i></i>
                    <span asp-validation-for="SurgeryId" class="text-danger"></span>
                </label>

            </label>
        </div>
        <div class="col col-6">
            <label asp-for="SurgeryDate" class="input">
                <i class="icon-append fa fa-calendar"></i>
                <input asp-for="SurgeryDate" id="Surgeries_@((string)ViewBag.Index)__SurgeryDate" name="Surgeries[@((string)ViewBag.Index)].SurgeryDate" placeholder="Surgery Year">
            </label>
        </div>
        <br />
        <section>
            <div class="row">
            <label class="textarea">
                <i class="icon-append fa fa-comment"></i>
                @Html.TextArea("Surgeries[" + (string)ViewBag.Index +"].Note", null, new { @class = "comment", @rows = 4, @placeholder = "Surgery Note" })
            </label>
            </div>
            </section>
        </fieldset>
</div>
