@model AspergillosisEPR.Models.Patients.PatientPulmonaryFunctionTest
<div class="patient-pft">
    <fieldset>
        <div class="row">
            <section class="col col-4">
                <label asp-for="PulmonaryFunctionTestId" class="select">
                    @Html.DropDownList("PulmonaryFunctionTest[" + (string)ViewBag.Index + "].PulmonaryFunctionTestId", (SelectList)ViewBag.PFTIds, "Select PFT", new { @class = "selectize" })
                    <i class="icon-append fa fa-user"></i>
                </label>
            </section>
            <section class="col col-4">
                <label asp-for="DateTaken" class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input asp-for="DateTaken" id="PulmonaryFunctionTest_@((string)ViewBag.Index)__DateTaken" name="PulmonaryFunctionTest[@((string)ViewBag.Index)].DateTaken" class="datepicker" placeholder="Date Taken" type="text">
                </label>
            </section>
            <section class="col col-2">
                <label asp-for="ResultValue" class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input asp-for="ResultValue" id="PulmonaryFunctionTest_@((string)ViewBag.Index)__ResultValue" name="PulmonaryFunctionTest[@((string)ViewBag.Index)].ResultValue" placeholder="Result">
                </label>
            </section>
            <section class="col col-2">
                <label asp-for="PredictedValue" class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input asp-for="PredictedValue" id="PulmonaryFunctionTest_@((string)ViewBag.Index)__PredictedValue" name="PulmonaryFunctionTest[@((string)ViewBag.Index)].PredictedValue" placeholder="Predicted">
                </label>
            </section>
        </div>
    </fieldset>
    <div class="row">
        <a href="javascript:void(0)" class="btn btn-danger remove-partial pull-right btn-lg" data-what="Patient PFT" data-toggle="tooltip" data-title="Remove Patient PFT" style="padding: 5px">
            <i class="fa fa-trash"></i>
        </a>
    </div>
</div>

