@model AspergillosisEPR.Models.PatientImmunoglobulin
@using HtmlHelpers.BeginCollectionItemCore;
@using (Html.BeginCollectionItem("PatientImmunoglobin"))
{
    <fieldset>
        <div class="row">
            <section class="col col-4">
                <label class="input" asp-for="ImmunoglobinTypeId">
                    <input asp-for="ImmunoglobinTypeId" placeholder="Date Taken" class="datepicker" />
                </label>
            </section>
            <section class="col col-4">
                <label class="input" asp-for="DateTaken">
                    <input asp-for="DateTaken" placeholder="Date Taken">
                </label>
            </section>
            <section class="col col-3">
                <label class="input" asp-for="Value">
                    <input asp-for="Value" placeholder="Value">
                </label>
            </section>
        </div>
        <div class="row">
            <a href="javascript:void(0)" class="btn btn-danger remove-new-stg pull-right btn-lg" data-what="St Georges Questionnaire" data-toggle="tooltip" data-title="Remove St Georges Questionnaire" style="padding: 5px">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </fieldset>
}