<label class="select">
    @{ 
        string selectKlass = "";
        var selectList = (SelectList)ViewBag.SearchSelect;
        if (selectList.Count() > (int)ViewBag.TurnIntoSearchableSelect)
        {
            selectKlass = "selectize";
        }
    }
    @Html.DropDownList("PatientSearchViewModel[" + (string)ViewBag.Index.ToString() + "].SearchValue", (SelectList)ViewBag.SearchSelect, new { @class = selectKlass })
    <i></i>
</label>