@model AspergillosisEPR.Models.Patients.PatientMeasurement
@using HtmlHelpers.BeginCollectionItemCore;
@using (Html.BeginCollectionItem("PatientMeasurement"))
{
    <div class="patient-pft">
        <fieldset>
            <div class="row">
              
                <section class="col col-6">
                    <label asp-for="DateTaken" class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input asp-for="DateTaken" placeholder="Date taken" class="datepicker" type="text">
                    </label>
                </section>
                <section class="col col-3">
                    <label asp-for="Weight" class="input">
                        <i class="icon-append fa fa-dashboard"></i>
                        <input asp-for="Weight" placeholder="Weight" type="text">
                    </label>
                </section>
                <section class="col col-3">
                    <label asp-for="Height" class="input">
                        <i class="icon-append fa fa-text-height"></i>
                        <input asp-for="Height" placeholder="Height" type="text">
                    </label>
                </section>
            </div>
        </fieldset>      
        <div class="row">
            <a href="javascript:void(0)" class="btn btn-danger remove-partial pull-right btn-lg" data-what="Patient Weight and Height" data-toggle="tooltip" data-title="Remove Patient PFT" style="padding: 5px">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>
}