 @model AspergillosisEPR.Models.ApplicationUser
<div class="alert alert-info alert-block">
    <i class="fa-fw fa fa-info-circle"></i>
    Note: Changing e-mail and User Name is disabled as they are used for authentication
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<fieldset>
    <div class="col col-12" style="width: 100%">
        <label asp-for="UserName" class="input" >
            <i class="icon-append fa fa-briefcase"></i>
            <input asp-for="UserName" placeholder="User Name" disabled="disabled">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </label>
    </div>
    <div class="col col-12" style="width: 100%">
        <label asp-for="Email" class="input" >
            <i class="icon-append fa fa-envelope"></i>
            <input asp-for="Email" placeholder="E-mail address" disabled="disabled">
            <span asp-validation-for="Email" class="text-danger"></span>
        </label>
    </div>
    <div class="row">
        <section class="col col-6">
            <label asp-for="FirstName" class="input">
                <i class="icon-append fa fa-user"></i>
                <input asp-for="FirstName" placeholder="First Name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </label>
        </section>       
        <section class="col col-6">
            <label asp-for="LastName" class="input">
                <i class="icon-append fa fa-user"></i>
                <input asp-for="LastName" placeholder="Last Name">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </label>
        </section>     
    </div>
    <div class="col col-12" style="width: 100%">
        <label class="select">
            Start typing roles names
            @(Html.DropDownList("Roles", (MultiSelectList)ViewBag.Roles,
                        new { multiple = "multiple",
                            @class = "select2",
                            @style = "width: 100%",
                            @data_placeholder = "Type role name to add"
                        })
            )
        </label>
    </div>
</fieldset>
