@model AspergillosisEPR.Models.AccountViewModels.ResetPasswordViewModel
<fieldset>
<header>
    Change users password
</header>
    <section>
        <label asp-for="Password" class="input">
            <i class="icon-append fa fa-lock"></i>
            <input asp-for="Password" placeholder="Password" >
            <b class="tooltip tooltip-bottom-right">Type new user password</b>
        </label>
    </section>

    <section>
        <label asp-for="ConfirmPassword" class="input">
            <i class="icon-append fa fa-lock"></i>
            <input asp-for="ConfirmPassword" placeholder="Confirm password">
            <b class="tooltip tooltip-bottom-right">Type new user password</b>
        </label>
    </section>
</fieldset>