@model AspergillosisEPR.Models.Patient
@using AspergillosisEPR.Models.Patients;
<div class="tab-content tabs-left">
    <ul class="nav nav-tabs tabs-left">
        <li class="active">
            <a href="#patient-details" data-toggle="tab">Details</a>
        </li>
        <li class="">
            <a href="#nac-info" data-toggle="tab">NAC Info</a>
        </li>
    </ul>
    <div class="tab-content padding-10">
        <div class="tab-pane active in" id="patient-details">
            @Html.Partial("/Views/Patients/_PatientDetails.cshtml")
        </div>
        <div class="tab-pane fade" id="nac-info">
            @Html.Partial("/Views/Patients/_NacInfo.cshtml", new PatientNACDates())
        </div>
    </div>
</div>