@model AspergillosisEPR.Models.PatientDiagnosis
<div class="col-12 row diagnosis-form state-success" style="margin: 0px !important">
    <fieldset>
        <div class="row">
            <label class="select">
                <label asp-for="DiagnosisCategoryId" class="select">
                    <select asp-for="DiagnosisCategoryId" asp-items="ViewBag.DiagnosisCategoryId">
                        <option value="">Select Diagnosis Category</option>
                    </select>
                    <span asp-validation-for="DiagnosisCategoryId" class="text-danger"></span>
                </label>

            </label>
        </div>
    </fieldset>
    <fieldset>
        <div class="row">
            <label class="select">
                <label asp-for="DiagnosisTypeId" class="select">
                    <select asp-for="DiagnosisTypeId" asp-items="ViewBag.DiagnosisTypeId">
                        <option value="">Select Diagnosis Type</option>
                    </select>
                    <span asp-validation-for="DiagnosisCategoryId" class="text-danger"></span>
                </label>
            </label>
        </div>
        <div class="row">
            <label class="textarea">
                <i class="icon-append fa fa-comment"></i>
                <textarea rows="5" name="comment" placeholder="Diagnosis Comment" style="width: 100%"></textarea>
            </label>
        </div>
    </fieldset>
</div>
<a href="@Url.Action("DiagnosisForm", "Partials")" class="btn btn-success add-diagnosis" style="padding: 5px">
    <i class="fa fa-plus"></i>
    <span>
        <strong>Add diagnosis</strong>
    </span>
</a>