<p><a href="javascript:void(0)" class="btn btn-success">Add diagnosis</a></p>
<form class="smart-form" novalidate="novalidate">
    <fieldset>
        <div class="row">
            <section class="col col-12">
                <label class="select state-success">
                    <i class="icon-append fa fa-medkit"></i>

                    <select name="interested" aria-required="true" aria-invalid="false">
                        <option value="0" selected="" disabled="">Please select diagnosis category</option>
                        <option value="1">Primary</option>
                        <option value="2">Secondary</option>
                        <option value="3">Other</option>
                    </select>
                </label>
            </section>
        </div>
    </fieldset>
    <fieldset>
        <div class="row">
            <section class="col col-12">
                <label class="select state-success">
                    <i class="icon-append fa fa-medkit"></i>

                    <select name="interested" aria-required="true" aria-invalid="false">
                        <option value="0" selected="" disabled="">Please select diagnosis type</option>
                        <option value="1">Allergic bronchopulmonary aspergillosis (ABPA)</option>
                        <option value="2">Chronic pulmonary aspergillosis (CPA)</option>
                        <option value="3">Aspergilloma</option>
                    </select>
                </label>
            </section>
        </div>
        <div class="row">
            <label class="textarea">
                <i class="icon-append fa fa-comment"></i>
                <textarea rows="5" name="comment" placeholder="Diagnosis Comment" style="width: 100%"></textarea>
            </label>

        </div>
    </fieldset>
</form>