@model AspergillosisEPR.Models.Patients.PatientDiagnosis
@using AspergillosisEPR.Models.Patients;
<div class="col-12 row diagnosis-form" style="margin: 0px !important">
</div>
@if (User.IsInRole("Create Role") || User.IsInRole("Admin Role"))
{
<a href="@Url.Action("DiagnosisForm", "Partials")" class="btn btn-success add-diagnosis add-new-patient-partial disable-default" data-visible-row="div.diagnosis-row:visible" data-insert-into-class="div.diagnosis-form" style="padding: 5px">
    <i class="fa fa-plus"></i>
    <span>
        <strong>Add diagnosis</strong>
    </span>
</a>
}