@model AspergillosisEPR.Models.Patients.PatientNACDates;
<header>National Aspergillosis Centre - Additional Information</header>
<fieldset>
    <div class="row">
        <section class="col col-6">
            <label asp-for="ReferralDate" class="control-label input ">
                Referral Date
                <i class="icon-append fa fa-calendar"></i>
                <input asp-for="ReferralDate" placeholder="Referral Date" autocomplete="off" type="text" class="form-control input-sm datepicker">
                <span asp-validation-for="ReferralDate" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-6">
            <label asp-for="FirstSeenAtNAC" class="control-label input">
                First Seen at NAC
                <i class="icon-append fa fa-calendar"></i>
                <input asp-for="FirstSeenAtNAC" placeholder="First Seen At NAC" autocomplete="off" type="text" class="form-control input-sm datepicker" value="0">
                <span asp-validation-for="FirstSeenAtNAC" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-6">
            <label asp-for="LastObservationPoint" class="control-label input">
                Last Observation Point
                <i class="icon-append fa fa-calendar"></i>
                <input asp-for="LastObservationPoint" placeholder="Last observation point" autocomplete="off" type="text" class="form-control datepicker">
                <span asp-validation-for="LastObservationPoint" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-6">
            <label asp-for="CPABand" class="control-label select">
                CPA Band
                <select asp-for="CPABand" asp-items="new SelectList(Patient.CPABands)">
                    <option value="">Select CPA Band (if applicable)</option>
                </select>
                <span asp-validation-for="CPABand" class="text-danger"></span>
                <i class="icon-append fa fa-info"></i>
            </label>
        </section>
        <section class="col col-6">
            <label asp-for="InitialDrug" class="input">
                <i class="icon-append fa fa-medkit"></i>
                <input asp-for="InitialDrug" placeholder="Enter info about initial drug" autocomplete="off" type="text">
                <span asp-validation-for="InitialDrug" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-6">
            <label asp-for="FollowUp3MonthsDrug" class="input">
                <i class="icon-append fa fa-medkit"></i>
                <input asp-for="FollowUp3MonthsDrug" placeholder="Enter info about follow up drug" autocomplete="off" type="text">
                <span asp-validation-for="FollowUp3MonthsDrug" class="text-danger"></span>
            </label>
        </section>
    </div>
</fieldset>
