@model AspergillosisEPR.Models.PatientSTGQuestionnaire
<h3>St George's Questionnaire</h3>
<div class="col-12 row stg-form" style="margin: 0px !important">
</div>
@if (User.IsInRole("Create Role") || User.IsInRole("Admin Role"))
{
    <a href="@Url.Action("STGForm", "Partials")" class="btn btn-success add-stg-entry" style="padding: 5px">
        <i class="fa fa-plus"></i>
        <span>
            <strong>Add Entry</strong>
        </span>
    </a>
}