<section id="widget-grid" class="">
    <p>
        <a href="javascript:void(0)" class="btn btn-success btn-lg new-patient-modal-show">
            <i class="fa fa-user-plus"></i>&nbsp;Add new Patient
        </a>
    </p>
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-medkit"></i> </span>
                    <h2>Patients</h2>
                </header>
                <div>
                    <div class="widget-body">
                        @Html.Partial("/Views/Home/_Spinner.cshtml")
                        <table id="patients_datatable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th data-hide="phone"><i class="fa fa-fw fa-hospital-o text-muted hidden-md hidden-sm hidden-xs"></i>RM2 Number</th>
                                    <th data-hide="phone"><i class="fa fa-heartbeat text-muted hidden-md hidden-sm hidden-xs"></i> Primary Diagnosis</th>
                                    <th data-hide="phone"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Last Name</th>
                                    <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> First Name</th>
                                    <th data-hide="phone"><i class="fa fa-fw fa fa-venus-mars text-muted hidden-md hidden-sm hidden-xs"></i> Gender</th>
                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-birthday-cake text-muted hidden-md hidden-sm hidden-xs"></i> Date of Birth</th>
                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-pencil text-muted hidden-md hidden-sm hidden-xs"></i> Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
    </article>
 </div>
</section>
