<div class="modal fade" tabindex="-1" role="dialog" id="patient-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Patient Details</h4>
            </div>
            <div class="modal-body">
                <div class="widget-body">

                    Details of patient Patient Name Here
                    <hr class="simple">
                    <ul id="myTab1" class="nav nav-tabs bordered">
                        <li class="active">
                            <a href="#s1" data-toggle="tab"><i class="fa fa-fw fa-lg fa-info-circle"></i> Details </a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-medkit"></i> Diagnosis</a>
                        </li>
                        <li c>
                            <a href="#s3" data-toggle="tab"><i class="fa fa-fw fa-lg fa-heartbeat"></i> Drugs</a>
                        </li>
                    </ul>

                    <div id="myTabContent1" class="tab-content padding-10">
                        <div class="tab-pane fade in active" id="s1">
                            <p>
                                Details
                            </p>
                        </div>
                        <div class="tab-pane fade" id="s2">
                            <p>
                                Diagnosis
                            </p>
                        </div>
                        <div class="tab-pane fade" id="s3">
                            <p>
                                Drugs
                            </p>
                        </div>
                        <div class="tab-pane fade" id="s4">
                            <p>

                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">SAVE</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->