<table id="users-datatable" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th data-hide="phone"><i class="text-muted hidden-md hidden-sm hidden-xs"></i>ID</th>
            <th data-hide="phone"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> First Name</th>
            <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Last Name</th>
            <th data-hide="phone"><i class="fa fa-fw fa fa-briefcase text-muted hidden-md hidden-sm hidden-xs"></i> Login</th>
            <th data-hide="phone,tablet"><i class="fa fa-fw fa-envelope text-muted hidden-md hidden-sm hidden-xs"></i> Email</th>
            <th data-hide="phone,tablet"><i class="fa fa-fw fa-pencil text-muted hidden-md hidden-sm hidden-xs"></i> Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>