@model AspergillosisEPR.Models.ApplicationUser
<div class="modal fade" tabindex="-1" role="dialog" id="edit-user-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Change user details</h4>
            </div>
            <div class="modal-body">
                <div class="widget-body">
                    <form asp-controller="users" asp-action="Edit" class="smart-form" data-ajax="true" data-ajax-method="POST" id="edit-user-form">
                        <div id="new-user-tab-content" class="tab-content padding-10">                  
                            @Html.Partial("/Views/Users/_Edit.cshtml")                     
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary update-user">Update User</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}