@model AspergillosisEPR.Models.PatientViewModels.NewPatientVisitViewModel
@using AspergillosisEPR.Models.Patients;

<div class="examinations">
<ul id="patient-vistis-tab" class="nav nav-tabs bordered">
    <li class="active">
        <a href="#measurements" data-toggle="tab"><i class="fa fa-fw fa-lg fa-user-md"></i> Measurements</a>
    </li>
    <li>
        <a href="#stg" data-toggle="tab"><i class="fa fa-fw fa-lg fa-file-text"></i> SGRQ</a>
    </li>
    <li>
        <a href="#ig-levels" data-toggle="tab">
            <span class="mi-blood-transfusion-3870 tab-styled-custom">
                <span class="path2"></span>
                <span class="fa-fw fa-lg path3"></span>
            </span> Ig Levels
        </a>
    </li>
    <li><a href="#radiology" data-toggle="tab"><i class="fa fa-fw fa-lg fa-stethoscope"></i> Radiology</a></li>
    <div id="visits-tab-content" class="tab-content padding-10">
        <div class="tab-pane fade in active details" id="measurements">
            @if (Model != null)
            {
                @Html.Partial("/Views/PatientVisits/Tabs/_MeasurementsTab.cshtml", Model.PatientMeasurements.ToList())
            }
        </div>
        <div class="tab-pane fade details" id="stg">
            @if (Model != null)
            {
                @Html.Partial("/Views/PatientVisits/Tabs/_SGRQTab.cshtml")
            }            
        </div>
        <div class="tab-pane fade details" id="ig-levels">
            @if (Model != null)
            {
                @Html.Partial("/Views/PatientVisits/Tabs/_IgTab.cshtml")
            }            
        </div>
        <div class="tab-pane fade details" id="radiology">
            @if (Model != null)
            {
                @Html.Partial("/Views/PatientVisits/Tabs/_RadiologyTab.cshtml")
            }            
        </div>  
    </div>
</div>