@model AspergillosisEPR.Models.SettingsViewModels.SettingsViewModel
<div class="table-responsive">
    @if (User.IsInRole("Create Role") || User.IsInRole("Admin Role"))
    {
        <div class="button">
            <a href="@Url.Action("New", "PatientVisits")" class="btn btn-success add-patient-visit disable-default">
                <i class="fa fa-plus"></i> Add New Patient Visit
            </a>
        </div>
    }

    <table class="table table-bordered table-hover" id="patient_visits_datatable" data-url="/DataTablePatientVisits/Load" style="width: 100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Visit Date</th>
                <th>Patient Name</th>
                <th>RM2 Number</th>
                <th>Examinations</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>