@font-face {
    font-family: 'icomoon';
    src: url('/fonts/medical-icons.eot');
    src: url('/fonts/medical-icons.eot') format('embedded-opentype'), 
         url('/fonts/medical-icons.ttf') format('truetype'), 
        url('/fonts/medical-icons.woff') format('woff'), 
        url('/fonts/medical-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="mi-"], [class*=" mi-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mi-ambulance-3880 .path1:before {
    content: "\e900";
    color: rgb(241, 241, 242);
}

.mi-ambulance-3880 .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-blood-transfusion-3870 .path1:before {
    content: "\e902";
    color: rgb(241, 241, 242);
}

.mi-blood-transfusion-3870 .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-blood-transfusion-3870 .path3:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-blood-transfusion-3870 .path4:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-blood-transfusion-3870 .path5:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-cardiology-3869 .path1:before {
    content: "\e907";
    color: rgb(241, 241, 242);
}

.mi-cardiology-3869 .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-cardiology-3869 .path3:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-dentistry-3868 .path1:before {
    content: "\e90a";
    color: rgb(241, 241, 242);
}

.mi-dentistry-3868 .path2:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-diagnostic-laboratory-3883 .path1:before {
    content: "\e90c";
    color: rgb(241, 241, 242);
}

.mi-diagnostic-laboratory-3883 .path2:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-diagnostic-laboratory-3883 .path3:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-diagnostic-laboratory-3883 .path4:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-diagnostic-laboratory-3883 .path5:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-diagnostic-laboratory-3883 .path6:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-diagnostic-laboratory-3883 .path7:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-diagnostic-laboratory-3883 .path8:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-diagnostic-laboratory-3883 .path9:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-diagnostic-laboratory-3883 .path10:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-doctor-3881 .path1:before {
    content: "\e916";
    color: rgb(241, 241, 242);
}

.mi-doctor-3881 .path2:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-ecg-chart-3878 .path1:before {
    content: "\e918";
    color: rgb(241, 241, 242);
}

.mi-ecg-chart-3878 .path2:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-family-doctor-3873 .path1:before {
    content: "\e91a";
    color: rgb(241, 241, 242);
}

.mi-family-doctor-3873 .path2:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-first-aid-3866 .path1:before {
    content: "\e91c";
    color: rgb(241, 241, 242);
}

.mi-first-aid-3866 .path2:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-first-aid-3866 .path3:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-first-aid-3866 .path4:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-genetics-3882 .path1:before {
    content: "\e920";
    color: rgb(241, 241, 242);
}

.mi-genetics-3882 .path2:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-gynecology-3889 .path1:before {
    content: "\e922";
    color: rgb(241, 241, 242);
}

.mi-gynecology-3889 .path2:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-handicapped-person-3886 .path1:before {
    content: "\e924";
    color: rgb(241, 241, 242);
}

.mi-handicapped-person-3886 .path2:before {
    content: "\e925";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-hospital-3867 .path1:before {
    content: "\e926";
    color: rgb(241, 241, 242);
}

.mi-hospital-3867 .path2:before {
    content: "\e927";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-iv-3871 .path1:before {
    content: "\e928";
    color: rgb(241, 241, 242);
}

.mi-iv-3871 .path2:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-iv-3871 .path3:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-iv-3871 .path4:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-iv-3871 .path5:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-iv-3871 .path6:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-ivf-fertilization-3892 .path1:before {
    content: "\e92e";
    color: rgb(241, 241, 242);
}

.mi-ivf-fertilization-3892 .path2:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-medical-record-3874 .path1:before {
    content: "\e930";
    color: rgb(241, 241, 242);
}

.mi-medical-record-3874 .path2:before {
    content: "\e931";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-medical-record-3874 .path3:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-medicine-3872 .path1:before {
    content: "\e933";
    color: rgb(241, 241, 242);
}

.mi-medicine-3872 .path2:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-microbiology-3887 .path1:before {
    content: "\e935";
    color: rgb(241, 241, 242);
}

.mi-microbiology-3887 .path2:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-nurse-3885 .path1:before {
    content: "\e937";
    color: rgb(241, 241, 242);
}

.mi-nurse-3885 .path2:before {
    content: "\e938";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-nurse-3885 .path3:before {
    content: "\e939";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-nurse-3885 .path4:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-patient-chart-3879 .path1:before {
    content: "\e93b";
    color: rgb(241, 241, 242);
}

.mi-patient-chart-3879 .path2:before {
    content: "\e93c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-patient-treatment-3876 .path1:before {
    content: "\e93d";
    color: rgb(241, 241, 242);
}

.mi-patient-treatment-3876 .path2:before {
    content: "\e93e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-patient-treatment-3876 .path3:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-patient-treatment-3876 .path4:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-patient-treatment-3876 .path5:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-patient-treatment-3876 .path6:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-pharmaceutical-drugs-3891 .path1:before {
    content: "\e943";
    color: rgb(241, 241, 242);
}

.mi-pharmaceutical-drugs-3891 .path2:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-pharmachology-3877 .path1:before {
    content: "\e945";
    color: rgb(241, 241, 242);
}

.mi-pharmachology-3877 .path2:before {
    content: "\e946";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-physical-examination-3875 .path1:before {
    content: "\e947";
    color: rgb(241, 241, 242);
}

.mi-physical-examination-3875 .path2:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-physical-examination-3875 .path3:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-prescription-drugs-3888 .path1:before {
    content: "\e94a";
    color: rgb(241, 241, 242);
}

.mi-prescription-drugs-3888 .path2:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-prescription-drugs-3888 .path3:before {
    content: "\e94c";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-prescription-drugs-3888 .path4:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-prescription-drugs-3888 .path5:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-prescription-drugs-3888 .path6:before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-prescription-drugs-3888 .path7:before {
    content: "\e950";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-primary-care-3865 .path1:before {
    content: "\e951";
    color: rgb(241, 241, 242);
}

.mi-primary-care-3865 .path2:before {
    content: "\e952";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-primary-care-3865 .path3:before {
    content: "\e953";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-primary-care-3865 .path4:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-primary-care-3865 .path5:before {
    content: "\e955";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-primary-care-3865 .path6:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-primary-care-3865 .path7:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-primary-care-3865 .path8:before {
    content: "\e958";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-primary-care-3865 .path9:before {
    content: "\e959";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-primary-care-3865 .path10:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-primary-care-3865 .path11:before {
    content: "\e95b";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-primary-care-3865 .path12:before {
    content: "\e95c";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-primary-care-3865 .path13:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(241, 241, 242);
}

.mi-stethoscope-3884 .path1:before {
    content: "\e95e";
    color: rgb(241, 241, 242);
}

.mi-stethoscope-3884 .path2:before {
    content: "\e95f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.mi-surgery-3890 .path1:before {
    content: "\e960";
    color: rgb(241, 241, 242);
}

.mi-surgery-3890 .path2:before {
    content: "\e961";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
