@model AspergillosisEPR.Models.SettingsViewModels.SettingsViewModel
<div class="table-responsive">
    @if (User.IsInRole("Create Role") || User.IsInRole("Admin Role"))
    {
        <div class="button">
            <a href="@Url.Action("New", "CaseReportForms" )" class="btn btn-success add-crf-item disable-default" data-klass="CaseReportFormSection" data-tab="case-report-forms-section">
                <i class="fa fa-plus"></i>
                Add New Form
            </a>
        </div>
    }
    <table></table>
</div>