@model AspergillosisEPR.Models.SettingsViewModels.SettingsViewModel
<div class="table-responsive">
    @if (User.IsInRole("Create Role") || User.IsInRole("Admin Role"))
    {
        <div class="button">
            <a href="@Url.Action("New", "CaseReportFormOptionGroups" )" class="btn btn-success add-crf-item disable-default" data-klass="CaseReportFormOptionGroup" data-tab="crfs">
                <i class="fa fa-plus"></i>
                Add New Option Group
            </a>
        </div>
    }
    <table class="table table-bordered table-hover" id="case_report_forms_option_groups_datatable" data-url="/DataTableCaseReportFormOptionGroups/Load" style="width: 100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Options</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
