@model AspergillosisEPR.Models.AspergillosisViewModels.BatchUploadViewModel;
<form asp-for="@Url.Action("Create", "ClinicLettersBatchImport")" method="POST" class="client-form smart-form" id="batch-import-form">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height: 300px">
                <div class="widget-body">
                    <header>
                        <i class="fa fa-files-o fa-2x"></i>&nbsp;Import clinic letters data
                    </header>

                    <div class="col-12" style="margin: 0 auto; padding-top: 50px; padding-left: 20px">
                        <h3>Clinic letters directory path:</h3>
                        <div id="batch-upload-response"></div>
                        <pre style="padding: 10px; margin: 15px">@Model.ClinicLettersBatchDirectory</pre>
                        <button class="btn btn-lg btn-success" id="batch-import-form-submit">
                            <i class="fa fa-download"></i>&nbsp; Import clinic letters data
                        </button>
                    </div>                   
                </div>
            </article>
        </div>
    </section>
</form>