<table id="imports_datatable" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th data-hide="phone"><i class="fa fa-fw fa-info text-muted hidden-md hidden-sm hidden-xs"></i>ID</th>
            <th data-hide="phone"><i class="fa fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i> Imported Date</th>
            <th data-hide="phone"><i class="fa fa-fw fa-file-text-o text-muted hidden-md hidden-sm hidden-xs"></i> Import Type</th>
            <th data-hide="phone"><i class="fa fa-fw fa-file-text-o text-muted hidden-md hidden-sm hidden-xs"></i> File Name</th>
            <th data-class="expand"><i class="fa fa-fw fa-users text-muted hidden-md hidden-sm hidden-xs"></i> Records Count</th>            
        </tr>
    </thead>   
    <tbody></tbody>
</table>