<table id="anonymous_patients_datatable" class="table table-striped table-bordered table-hover" data-url="@Url.Action("LoadPatients","DataTableAnonymousPatients")">
    <thead>
        <tr>
            <th data-hide="phone"><i class="fa fa-fw fa-id-card text-muted hidden-md hidden-sm hidden-xs"></i>Identifier</th>
            <th data-hide="phone"><i class="fa fa-id-card text-muted hidden-md hidden-sm hidden-xs"></i> Initials</th>
            <th data-hide="phone"><i class="fa fa-heartbeat text-muted hidden-md hidden-sm hidden-xs"></i> Primary Diagnosis</th>
            <th data-hide="phone,tablet"><i class="fa fa-fw fa-eye text-muted hidden-md hidden-sm hidden-xs"></i> Details</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>    