<section id="widget-grid" class="">
    @Html.Partial("~/Views/Anonymous/Patients/_Buttons.cshtml")
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-medkit"></i> </span>
                    <h2>Patients</h2>
                </header>
                <div>
                    <div class="widget-body">
                        @Html.Partial("/Views/Home/_Spinner.cshtml")
                        @Html.Partial("/Views/Anonymous/Patients/_DataTable.cshtml")
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>