@model AspergillosisEPR.Models.CaseReportForms.CaseReportForm;
<div class="col-12 row case-report-form" style="margin: 0px !important">
</div>
@if (User.IsInRole("Create Role") || User.IsInRole("Admin Role"))
{
    <a href="@Url.Action("CaseReportFormModal", "Partials")" class="btn btn-success add-crf add-new-patient-partial disable-default" data-visible-row="div.drug-row:visible" data-insert-into-class="div.case-report-form" style="padding: 5px">
        <i class="fa fa-plus"></i>
        <span>
            <strong>Add case report form</strong>
        </span>
    </a>
}