<section class="col-3 col-md-3">
    <label>
        <strong>Select Case Report Form</strong>
    </label>     
</section>
<section class="col-6 col-md-6">
    <div class="row">
        <label class="smart-form select">
            <select asp-items="(List<SelectListItem>) @ViewBag.CaseReportForms" id="patient-case-report-form">
                <option>Please select form</option>
            </select>
            <i></i>
        </label>
    </div>
</section>


    <div class="col-12 row case-report-forms" style="margin: 0px !important">
    </div>
    <div id="case-report-form">

    </div>
