@model AspergillosisEPR.Models.CaseReportForms.CaseReportFormField
@using HtmlHelpers.BeginCollectionItemCore;
@using (Html.BeginCollectionItem("Fields"))
{
<div class="field-row">
    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label asp-for="Label" class="input">
                    <input asp-for="@(Model.Label)" placeholder="Enter field label" />
                </label>
            </section>
            <section class="col col-6">
                <label class="select">
                    <label asp-for="CaseReportFormFieldTypeId" class="select">
                        @Html.DropDownListFor(m => m.CaseReportFormFieldTypeId, (SelectList)ViewBag.FieldTypes, "Select Field Type")
                        <i></i>
                        <span asp-validation-for="CaseReportFormFieldTypeId" class="text-danger"></span>
                    </label>
                </label>
            </section>
        </div>
        <div class="row">
            <h4>Optional (for checkbox and select/multiselect types)</h4>
            <section class="col col-12 col-md-12 col-xs-12">
                <label asp-for="SelectedOptionsIds" class="select">                    
                    @Html.DropDownListFor(m => m.SelectedOptionsIds, (SelectList)ViewBag.OptionGroups, "Select Option Group", new { @class = "option-group", @data_index = (string)ViewBag.Index })
                    <i></i>
                    <span asp-validation-for="SelectedOptionsIds" class="text-danger"></span>
                </label>
            </section>
            <section class="col col-12 col-md-12 col-xs-12 hide options"></section>
        </div>
        <div class="row">
            <a href="javascript:void(0)" class="btn btn-danger remove-partial pull-right btn-lg" data-what="Case Report Form Field" data-toggle="tooltip" data-title="Remove this field?" style="padding: 5px">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </fieldset>
</div>
}