@model List<AspergillosisEPR.Models.PatientMeasurement>;
@if (User.IsInRole("Create Role") || User.IsInRole("Admin Role"))
{
    <a href="@Url.Action("New", "PatientMeasurements")" class="btn btn-success add-measurement add-new-patient-partial disable-default" data-visible-row="div.drug-row:visible" data-insert-into-class="div.measurement-form" style="padding: 5px;margin-top: 15px; margin-bottom: 10px">
        <i class="fa fa-plus"></i>
        <span>
            <strong>Add entry</strong>
        </span>
    </a>
}
<div class="col-12 row measurement-form" style="margin: 0px !important">
    @Html.Partial("/Views/PatientMeasurements/_List.cshtml")
</div>