@model AspergillosisEPR.Models.Patient

@if (Model.PatientRadiologyFindings != null)
{
    <div class="col-sm-12">
        <table class="table table-bordered table-striped">
            <tbody>
                @foreach (var radiology in Model.PatientRadiologyFindings.OrderByDescending(ig => ig.DateTaken))
                {
                    <tr>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>
                            </label>
                        </td>
                        <td>@(radiology.RadiologyType.Name)</td>
                        <td>@(radiology.DateTaken.ToString("dd/MM/yyyy"))</td>
                        <td>@(radiology.Appearance)</td>
                    </tr>
                    @if (!string.IsNullOrEmpty(radiology.Note))
                    {
                        <tr>
                            <td></td>
                            <td>Note:</td>
                            <td>@(radiology.Note)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>


    </div>

}