<div class="tab-content tabs-left">
    <ul class="nav nav-tabs tabs-left">
        <li class="active">
            <a href="#deseases" data-toggle="tab">Deseases</a>
        </li>
        <li class="">
            <a href="#surgeries" data-toggle="tab">Surgeries</a>
        </li>
        <li class="">
            <a href="#allergies" data-toggle="tab">Allergies & Intolerance</a>
        </li>
    </ul>
    <div class="tab-content padding-10">
        <div class="tab-pane active in" id="deseases">
            @Html.Partial("/Views/Patients/Edit/_DiseasesTab.cshtml")
        </div>
        <div class="tab-pane fade" id="surgeries">
            @Html.Partial("/Views/Patients/Edit/_SurgeriesTab.cshtml")
        </div>
        <div class="tab-pane fade" id="allergies">
            @Html.Partial("/Views/Patients/Edit/_AllergyIntoleranceItems.cshtml")
        </div>
    </div>
</div>