@model AspergillosisEPR.Models.Patient
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" value="@Html.AntiForgeryToken()" name="__RequestVerificationToken" />
<header>Patient Details</header>
<fieldset>
    <div class="row">
        <section class="col col-6">
            <label asp-for="RM2Number" class="input">
                <i class="icon-append fa fa-hospital-o"></i>
                <input asp-for="RM2Number" placeholder="RM2 Number">
                <span asp-validation-for="RM2Number" class="text-danger"></span>
                <input type="hidden" name="InitialRM2Number" value="@(Model.RM2Number)" />
            </label>
        </section>
        <section class="col col-6">
            <label asp-for="PatientStatusId" class="select">
                <select asp-for="PatientStatusId" asp-items="(SelectList) ViewBag.PatientStatuses">
                    <option value="">Select Status</option>
                </select>
                <span asp-validation-for="PatientStatusId" class="text-danger"></span>
                <i class="icon-append fa fa-venus-mars"></i>
            </label>
        </section>
        <div class="death @((Model.IsDeceased() ? "" : "hidden"))">
            <section class="col col-6">
                <label class="pull-right">Date of death:</label>
            </section>
            <section class="col col-6">
                <label asp-for="DateOfDeath" class="input">
                    <i class="icon-append fa fa-bolt"></i>
                    <input asp-for="DateOfDeath" placeholder="Date of Death">
                    <span asp-validation-for="DateOfDeath" class="text-danger"></span>
                </label>
            </section>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="row">
        <section class="col col-6">
            <label asp-for="FirstName" class="input">
                <i class="icon-append fa fa-user"></i>
                <input asp-for="FirstName" placeholder="First Name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-6">
            <label asp-for="LastName" class="input">
                <i class="icon-append fa fa-user"></i>
                <input asp-for="LastName" placeholder="Last Name">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </label>
        </section>
        <div class="row">
            <section class="col col-6">
                <label asp-for="DOB" class="input">
                    <i class="icon-append fa fa-birthday-cake"></i>
                    <input asp-for="DOB" placeholder="Date of Birth">
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </label>
            </section>
            <section class="col col-3">
                <label asp-for="Gender" class="select">
                    <select asp-for="Gender" asp-items="new SelectList(Patient.Genders, Model.Gender)">
                        <option value="">Select Gender</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                    <i class="icon-append fa fa-venus-mars"></i>
                </label>
            </section>
            <section class="col col-3">
                <label asp-for="PostCode" class="input">
                    <i class="icon-append fa fa-building-o"></i>
                    <input asp-for="PostCode" placeholder="Post Code">
                    <span asp-validation-for="PostCode" class="text-danger"></span>
                    <input type="hidden" name="InitialRM2Number" value="@(Model.PostCode)" />
                </label>
            </section>
        </div>
    </div>
</fieldset>
<fieldset>
    <section class="col col-12" style="width: 100%">
        <label asp-for="GenericNote" class="textarea">
            <textarea asp-for="GenericNote" placeholder="Leave generic note here" rows="6" class="comment">
                </textarea>
            <i class="icon-append fa fa-comment"></i>
        </label>
    </section>
</fieldset>