<label for="AllergyIntoleranceItemId" class="select">
    @Html.DropDownList("Allergies[" + (string)ViewBag.Index + "].AllergyIntoleranceItemId", (SelectList)ViewBag.ItemId, "Select Drug", new { @class = "selectize" })    
    <i></i>
</label>