<label for="AllergyIntoleranceItemId" class="select">
@Html.DropDownList("Allergies[" + (string)ViewBag.Index + "].AllergyIntoleranceItemId", (SelectList)ViewBag.ItemId, "Select Fungi", new { @class = "selectize" })
<i></i>
</label>