@model AspergillosisEPR.Models.SettingsViewModels.SettingsViewModel
<div class="table-responsive">
    @if (User.IsInRole("Create Role") || User.IsInRole("Admin Role"))
    {
        <div class="button">
            <a href="@Url.Action("New", "Radiology")" class="btn btn-success add-chest-distribution add-settings-item disable-default" data-klass="ChestDistribution" data-tab="chest-distriubtions">
                <i class="fa fa-plus"></i> Add New Chest Distriubtion
            </a>
        </div>
    }
    <table class="table table-bordered table-hover" id="chest_distributions_datatable" data-url="/DataTableRadiology/Load?collection=ChestDistribution" style="width: 100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>