@model AspergillosisEPR.Models.Patient;
<table id="icd10_datatable" class="table table-striped table-bordered table-hover col-10" data-url="DataTableICD10Diagnoses/Load?patientId=@(Model.ID)" style="width: 100%">
    <thead>
        <tr>
            <th>Diagnosed</th>
            <th>Code</th>
            <th>Description</th>
        </tr>
    </thead>   
    <tbody></tbody>
</table>    