@model AspergillosisEPR.Models.PatientViewModels.PatientSearchViewModel
@Html.Partial("~/Views/Shared/_InfoBox.cshtml", 
    "You can construct search criteria across different tables in database by selecting values from below fields. To add another criteria click the plus button.")
<form class="smart-form" id="advanced-search-form">
    <header><i class="fa fa-search-plus fa-2x"></i>&nbsp;Search criteria</header>
    <fieldset class="search-form-container">
        @Html.Partial("~/Views/PatientSearches/_FormFields.cshtml")
    </fieldset>
    <footer>
        <button type="submit" class="btn btn-success pull-left btn-lg"><i class="fa fa-search"></i>&nbsp; SEARCH</button>
    </footer>
</form>