<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                    <h2>Patients Advanced Search</h2>
                </header>
                <div>
                <div class="widget-body">
                    @Html.Partial("~/Views/PatientSearches/_New.cshtml")       
                </div>
                </div>
            </div>
        </article>
    </div>
</section>
@Html.Partial("~/Views/PatientSearches/_Results.cshtml")
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            Search.init();
            Search.onSearchClassSelectChange();
        }, 1000)
    });
</script>