@model AspergillosisEPR.Models.AccountViewModels.RegisterViewModel
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="smart-form-register" class="smart-form client-form">
    <header>
        <i class="fa fa-user fa-2x"></i>&nbsp;Add new system user
    </header>
    <fieldset>
        <div class="row">
            <div asp-validation-summary="All" class="text-danger alert-block validation-alert" style="padding-left: 20px"></div>
            <section class="col col-6" style="padding-left: 0px">
                <label class="input">
                    <input asp-for="FirstName" placeholder="First name" class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </label>
            </section>
            <section class="col col-6" style="padding-left: 0px">
                <label class="input">
                    <input asp-for="LastName" placeholder="Last name" class="form-control">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </label>
            </section>
        </div>
        <section>
            <div class="form-group">
                <label class="input" asp-for="Email">
                    <i class="icon-append fa fa-envelope"></i>
                    <input asp-for="Email" class="form-control" placeholder="Email address" />
                    <b class="tooltip tooltip-bottom-right">Work email address</b>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </label>
            </div>
        </section>

        <section>
            <label asp-for="Password" class="input">
                <i class="icon-append fa fa-lock"></i>
                <input asp-for="Password" placeholder="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
            </label>
        </section>

        <section>
            <label asp-for="ConfirmPassword" class="input">
                <i class="icon-append fa fa-lock"></i>
                <input asp-for="ConfirmPassword" placeholder="Confirm password" class="form-control">
                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </label>
        </section>
    </fieldset>
    <fieldset>
        <label class="select">
            Start typing roles to add them to the newly created user
            @(Html.DropDownListFor(u => u.Roles, (MultiSelectList)ViewBag.Roles,
                        new { multiple = "multiple",
                            @class = "select2",
                            @style = "width: 100%",
                            @data_placeholder = "Type role name to add"
                        })
              )
        </label>
</fieldset>
    <footer>
        <button type="submit" class="btn btn-primary pull-left">
            Register
        </button>
        <a href="@Url.Action("Index", "Users")" class="btn btn-success pull-left">Go back to users list</a>
    </footer>        
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(function () {
            $("select.select2").select2({
                minimumResultsForSearch: -1,
                placeholder: function () {
                    $(this).data('placeholder');
                }
            });
        });
    </script>
}