@model AspergillosisEPR.Models.CaseReportForms.ViewModels.CaseReportFormFieldResultViewModel;
<div class="row">
    <section class="col col-4 label-render">
        <label>@Model.Field.Label</label>
    </section>
    <section class="col col-5">
        <label class="input">
            <input name="Results[@Model.Index].DateAnswer" placeholder="@Model.Field.Label" class="datepicker form-control" value="@Model?.Result?.DateAnswer?.ToString("dd-MM-yyyy")" disabled="disabled">
            @Html.Hidden("Results["+ Model.Index + "].CaseReportFormFieldId", Model.Field.ID)
        </label>
        @Html.Hidden("Results[" + Model.Index + "].ValidationResult", "")
    </section>
</div>
