@model AspergillosisEPR.Models.CaseReportForms.ViewModels.CaseReportFormFieldResultViewModel;
<div class="row">
    <section class="col col-4 label-render">
        <label>@Model.Field.Label</label>
    </section>
    <section class="col col-2">
        <label class="input">
            <input name="Results[@Model.Index].NumericAnswer" placeholder="@Model.Field.Label" class="form-control" value="@Model?.Result?.NumericAnswer" disabled="disabled">
            @Html.Hidden("Results[" + Model.Index  + "].CaseReportFormFieldId", Model.Field.ID)
            @Html.Hidden("Results[" + Model.Index + "].ValidationResult", "")
        </label>
    </section>
</div>