@model AspergillosisEPR.Models.CaseReportForms.ViewModels.CaseReportFormFieldViewModel;
<div class="row">
    <section class="col col-4 label-render">
        <label>@Model.Field.Label</label>
    </section>
    <section class="col col-5">
        <label class="input">
            <input name="Results[@Model.Index].TextAnswer" placeholder="@Model.Field.Label" class="form-control">
            @Html.Hidden("Results["+ Model.Index + "].CaseReportFormFieldId", Model.Field.ID)
            @Html.Hidden("Results[" + Model.Index + "].ValidationResult", "")
        </label>
    </section>
</div>