@model AspergillosisEPR.Models.Patient;
<h3>MRC Breathlessness Score</h3>
<div class="table col-sm-12">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var testResult in Model.PatientMRCScores.OrderByDescending(d => d.DateTaken))
            {
                <tr>
                    <td>@(testResult.DateTaken.ToString("dd/MM/yyyy"))</td>
                    <td>@(testResult.Score)</td>
                </tr>
            }
        </tbody>
    </table>
</div>