<table id="reports_datatable" class="table table-striped table-bordered table-hover"  data-url="/DataTableReports/Load">
    <thead>
        <tr>
            <th data-hide="phone"><i class="fa fa-fw text-muted hidden-md hidden-sm hidden-xs"></i>ID</th>
            <th data-hide="phone"><i class="fa fa-area-chart text-muted hidden-md hidden-sm hidden-xs"></i> Report Type</th>
            <th data-hide="phone"><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i> Start Date</th>
            <th data-class="expand"><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i> End Date</th>
            <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Patients Count</th>
            <th data-class="expand"><i class="fa fa-fw fa-eye text-muted hidden-md hidden-sm hidden-xs"></i> Show</th>
        </tr>
    </thead>   
    <tbody></tbody>
</table>    