<br>
<h3><strong>Step 3</strong> - Generate</h3>
<br>
<h1 class="text-center text-success">
    <strong>
        <i class="fa fa-check fa-lg"></i> Complete
    </strong>
</h1>

<h4 class="text-center">Click below to show report</h4>
<div class="text-center" style="margin-top: 30px">
    <a href="javascript:void(0)" class="btn btn-lg btn-success" id="show-report-link" onclick="window.location.href='/Reports/Generate/' + $(this).data('report-id')">
        <i class="fa fa-eye"></i>
        &nbsp; Show the report
    </a>
</div>
<br>
<br>