<div class="form-actions">
    <div class="row">
        <div class="col-sm-12">
            <ul class="pager wizard no-margin no-steps-container">                
                <li class="previous disabled">
                    <a href="javascript:void(0);" class="btn btn-lg btn-default"> Previous </a>
                </li>
                <li class="next disabled">
                    <a href="javascript:void(0);" class="btn btn-lg txt-color-darken"> Next </a>
                </li>
            </ul>
        </div>
    </div>
</div>