@model AspergillosisEPR.Models.Reporting.Report
<div class="row">
    <form id="wizard-form" novalidate="novalidate">
        <div id="report-wizard" class="col-sm-12">
            <div class="form-bootstrapWizard">
                <ul class="bootstrapWizard form-wizard">
                    <li class="active" data-target="#step1">
                        <a href="#tab1" data-toggle="tab" aria-expanded="true" style="background-color: transparent;"> 
                            <span class="step">1</span> 
                            <span class="title">Report Type</span> 
                        </a>
                    </li>
                    <li data-target="#step2" class="">
                        <a href="#tab2" data-toggle="tab" aria-expanded="false" style="background-color: transparent;"> 
                            <span class="step">2</span> 
                            <span class="title">Report Data</span> 
                        </a>
                    </li>
                    <li data-target="#step3" class="">
                        <a href="#tab3" data-toggle="tab" aria-expanded="false" style="background-color: transparent;"> 
                            <span class="step">3</span> 
                            <span class="title">Generate</span> 
                        </a>
                    </li>             
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    @Html.Partial("/Views/Reports/_ReportType.cshtml", Model)
                </div>
                <div class="tab-pane" id="tab2">
                    @Html.Partial("/Views/Reports/_ReportData.cshtml")
                </div>
                <div class="tab-pane" id="tab3">
                   @Html.Partial("/Views/Reports/_Generate.cshtml")
                </div>                
                @Html.Partial("/Views/Reports/_Paging.cshtml")
            </div>
        </div>
    </form>
</div>