<aside id="left-panel">
    @addTagHelper *, AspergillosisEPR
    @{ await Html.RenderPartialAsync("_CurrentUser"); }
    <nav>
        <ul>
            <li is-active-route asp-controller="Home" asp-action="Index">
                <a href="@Url.Action("index", "Home")" title="Patients">

                    <i class="fa fa-lg fa-fw fa-home"></i>
                    <span class="menu-item-parent">Patients</span>
                </a>
            </li>
            <li is-active-route asp-controller="Settings" asp-action="Index">
                <a href="@Url.Action("index", "settings")" title="Settings">
                    <i class="fa fa-gear"></i>
                    <span class="menu-item-parent">Settings</span>
                </a>
            </li>
            <li is-active-route asp-controller="Users" asp-action="Index">
                <a href="@Url.Action("index", "users")" title="Users">
                    <i class="fa fa-users"></i>
                    <span class="menu-item-parent">Application Users</span>
                </a>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>