<div class="login-info">
    <span>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="~/img/avatars/sunny.png" alt="me" class="online" />
            <strong><span>@User.Identity.Name.ToUpper()</span></strong>
            <i class="fa fa-angle-down"></i>
        </a>
    </span>
</div>