@model AspergillosisEPR.Models.MedicalTrials.MedicalTrial
<fieldset>
    <div class="row">
            <label asp-for="Name" class="input">
                <i class="icon-append fa fa-hospital-o"></i>
                <input asp-for="Name" placeholder="Trial name">
            </label>
        <section class="col col-6">
            <label asp-for="MedicalTrialPrincipalInvestigatorId" class="select">
                <select asp-for="MedicalTrialPrincipalInvestigatorId" asp-items="(SelectList) ViewBag.InvestigatorsIds">
                    <option value="">Select Principal Investigator</option>
                </select>
                <i class="icon-append fa fa-user"></i>
            </label>
        </section>
        <section class="col col-6">
            <label asp-for="Number" class="input">
                <i class="icon-append fa fa-sticky-note"></i>
                <input asp-for="Number" placeholder="Trial number">
            </label>
        </section>
        <section class="col col-6">
            <label asp-for="RandDNumber" class="input">
                <i class="icon-append fa fa-sticky-note"></i>
                <input asp-for="RandDNumber" placeholder="Enter R&D Number (optional)">
            </label>
        </section>
        <section class="col col-6">
            <label asp-for="RECNumber" class="input">
                <i class="icon-append fa fa-sticky-note"></i>
                <input asp-for="RECNumber" placeholder="Enter REC Number (optional)">
            </label>
        </section>
        <section class="col col-6">
            <label asp-for="MedicalTrialTypeId" class="select">
                <select asp-for="MedicalTrialTypeId" asp-items="(SelectList) ViewBag.MedicalTrialsTypeIds">
                    <option value="">Select Trial Type</option>
                </select>
                <i class="icon-append fa fa-user"></i>
            </label>
        </section>        
        <section class="col col-6">
            <label asp-for="MedicalTrialStatusId" class="select">
                <select asp-for="MedicalTrialStatusId" asp-items="(SelectList) ViewBag.MedicalTrialsStatusesIds">
                    <option value="">Select Trial Status</option>
                </select>
                <i class="icon-append fa fa-user"></i>
            </label>
        </section>
    </div>
    <section class="col col-12">
        <label class="textarea">
            <i class="icon-append fa fa-comment"></i>
            @Html.TextArea("Description", null, new { @class = "comment", @rows = 5, @placeholder = "Trial Description (optional)", @style="width: 500px" })
        </label>
    </section>
</fieldset>