@model AspergillosisEPR.Models.MedicalTrials.MedicalTrial
<div class="modal fade new-settings-modal" tabindex="-1" role="dialog" id="trial-details-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Medical Trial Details</h4>
            </div>
            <div class="modal-body">
                <div class="widget-body">
                    @Html.Partial("/Views/MedicalTrials/MedicalTrials/_Trial.cshtml", Model)
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
