@using AspergillosisEPR.Models.Patients
@model List<PatientDiagnosis>
<table class="table table-bordered table-striped">
    <thead>
        <th>@(Model[0].DiagnosisCategory.CategoryName)</th>
    </thead>
    <tbody>
        @foreach (var diagnosis in Model)
        {
            <tr>
                <td>
                    @(diagnosis.DiagnosisType.DisplayName()) 
                    @if (!string.IsNullOrEmpty(diagnosis.Description))
                    {
                     <span style="font-style: italic">- @(diagnosis.Description)</span>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>