@model AspergillosisEPR.Models.PatientViewModels.PatientDetailsViewModel

@if (Model.MedicalTrials != null && Model.MedicalTrials.Any())
{
    <div class="col-sm-12">
        <div class="panel-group smart-accordion-default" id="accordion-2">
            @foreach (var trial in Model.MedicalTrials.OrderByDescending(t => t.IdentifiedDate))
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-2" href="#@(trial.ID)" aria-expanded="false" class="collapsed">
                                <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                                @trial.MedicalTrial.Name
                            </a>
                        </h4>
                    </div>
                    <div id="@(trial.ID)" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            @Html.Partial("/Views/MedicalTrials/MedicalTrials/_PatientDetails.cshtml", trial)
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

}
else
{
    <div class="col-sm-12">
        <div class="alert alert-info alert-block">
            <h4 class="alert-heading">Info!</h4>
            <i class="fa fa-info-circle"></i>
            This patient is currenty not enrolled to any medical trails
        </div>
    </div>

}
