<div class="tab-content tabs-left">
    <ul class="nav nav-tabs tabs-left">
        <li class="active">
            <a href="#apperances" data-toggle="tab">Apperances</a>
        </li>
        <li class="">
            <a href="/patients/@(Model.Patient.ID)/Notes" data-toggle="tabajax" data-target="#notes">Notes</a>
        </li>
        <li class="">
        </li>
    </ul>
    <div class="tab-content padding-10">
        <div class="tab-pane active in pull-left" id="apperances" style="width: 575px">
            @Html.Partial("/Views/Patients/Details/_Apperances.cshtml")
        </div>
        <div class="tab-pane pull-left" id="notes">

        </div>
    </div>
</div>